<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SurgeryRecordExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="KuhCommonLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="logtrace" xsi:type="Trace" layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}}"/>
        <target name="logconsole" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}}"/>
        <target name="logfile" xsi:type="File" layout="${longdate} [${level:uppercase=true}][${callsite}]${message} ${onexception:${newline}${exception:format=tostring}}" fileName="${basedir}/logs/${processname}.log" keepFileOpen="true" maxArchiveFiles="10" archiveAboveSize="104857600" archiveNumbering="Rolling" encoding="utf-8"/>
      </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logtrace"/>
      <logger name="*" minlevel="Debug" writeTo="logconsole"/>
      <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <applicationSettings>
    <KuhCommonLib.Properties.Settings>
      <setting name="ConnectionString_Db1" serializeAs="String">
        <value >ConnectionStringOfDatabase1</value>
      </setting>
      <setting name="ConnectionString_Db2" serializeAs="String">
        <value >ConnectionStringOfDatabase2</value>
      </setting>
    </KuhCommonLib.Properties.Settings>
  </applicationSettings>
</configuration>
